img {
    max-height: 50px;
    border: 2px solid #fff;
    display: inline;
  }
  .img-circle{
      max-height: 50px  ;
  }

  .btn-info {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;}